[submodule "zsh/slimline"]
	path = zsh/slimline
	branch = master
	url = git@github.com:mengelbrecht/slimline.git
[submodule "zsh/elm-sh-completion"]
	path = zsh/elm
	branch = master
	url = https://github.com/dmy/elm-sh-completion
